.jumbotron
{
    /* background-image: linear-gradient(to top, rgba(5, 19, 13, 0.795), rgb(16, 8, 26), rgb(62, 29, 105))  !important; */
    background-image: url(../images/simple-codelines.svg);
    background-size: cover;
    margin-top: 10px;
    min-height: 550px;
    /* opacity: 0.8; */
}

.bg-dark 
{
    background-color: rgba(16, 14, 23, 0.973) !important;
    margin: 0;
}


.animasi-teks {
    font-size: 29px;
    width: 100%;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: typing 5s steps(50, end);
    animation: animasi-ketik 5s steps(50, end);
    -moz-animation-iteration-count: infinite;
}
  
@keyframes animasi-ketik{
  from { width: 0; }
}
  
@-webkit-keyframes animasi-ketik{
  from { width: 0; }
}

.mod
{
  font-size: 2em;
}


.uli li
{
  display: inline;
  list-style-type: none;
}

img{
  height: 40px;
  width: 40px;
}


footer 
{
  margin: 0;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(16, 14, 23, 0.973);
  height: 50px;
  text-align: center;
  font-size: 1em;
}
