:root {
    --primary-color: #378AE9;
    --secondary-color: #1A1A1A;
    --alt-color: #F2F8FF;
    --color-blur: #C1D9F4;
}


/* ====================== font googles ================== */
/* @import url('https://fonts.googleapis.com');
@import url('https://fonts.gstatic.com'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* =================== box icons =================== */
@import url('https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css');



* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    /* margin: auto 0px; */
    font-family: 'Poppins', sans-serif;
}

/* ======================== container ==========================*/
.container {
    /* background-color: var(--alt-color); */
    height: 700px;
}

/* ======================== header navbar ======================*/
header {
    background-color: #ffffff;
    /* position: sticky; */
    /* background-color: var(--alt-color); */
    transition: all .5s;
    width: 100%;
    z-index: 999;
}

.sticky {
    background-color: #ffffff;
    /* background-color: var(--alt-color); */
    box-shadow: 2px 0px 10px rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    /* z-index: 999; */
}

header nav {
    /* background-color: turquoise; */
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: auto 150px;
}

header nav span:nth-child(1) a {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

header nav span:nth-child(2) {
    display: none;
}

header nav ul {
    /* background-color: #378AE9; */
    display: flex;
    font-size: 14px;
    justify-content: space-around;
    text-transform: capitalize;
}

header nav ul li {
    padding-left: 30px;
    list-style-type: none;
}

header nav ul li span {
    display: none;
}


header nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: all .3s;
}

header nav ul li a:hover:after {
    width: 30px;
}


header nav ul li a:after {
    position: absolute;
    display: block;
    content: '';
    width: 0px;
    height: 3px;
    transition: width 1s;
    background-color: var(--color-blur);
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* ========================== content =======================*/
.content {
    /* background-color: turquoise; */
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    margin: auto 150px;
}

.content1 {
    width: 40%;
}


.content1 h1 {
    color: var(--primary-color);
    font-size: 1.8em;
}

.content1 p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 2;
}

.content2 {
    width: 58%;
    position: relative;
}

.content2 img {
    width: 100%;
    height: auto;
}

.content2 p {
    width: 40%;
    position: absolute;
    bottom: 250px;
    right: 0px;
    z-index: 1;
}

/* button whatsapp */
.button {
    display: flex;
    margin-top: 25px;
}


.button a {
    text-decoration: none;
    text-align: center;
}

.button .whatsapp {
    background-color: #37E97E;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    height: 45px;
    padding: 10px;
    transition: all .3s;
    width: 200px;
}

.button .whatsapp:hover {
    border: 1px solid #37E97E;
    background-color: transparent;
    color: #37E97E;
}

.button .telegram {
    background-color: transparent;
    border: 1px solid #378AE9;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--primary-color);
    font-size: 18px;
    height: 45px;
    margin-left: 35px;
    padding: 10px;
    transition: all .3s;
    width: 200px;
}

.button .telegram:hover {
    background-color: #378AE9;
    border: 1px solid #378AE9;
    color: #fff;
}


/* =========================== our services ======================== */
.our-services h1 {
    margin-top: 50px;
    text-align: center;
    text-transform: capitalize;
}
.services {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin: auto 150px;
    box-sizing: border-box;
    padding-top: 80px;
}

.services div {
    align-items: center;
    background: linear-gradient(to right, #F2F8FF, #E4EDF6);
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 25px;
    box-shadow: 4px 4px 0px var(--color-blur);
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
    height: 80px;
    padding: 25px;
    text-transform: capitalize;
    text-align: center;
    width: 250px;
}

/* ============================== our projects ====================== */
#our-projects h1 {
    padding-bottom: 100px;
    text-align: center;
    text-transform: capitalize;
}

.project {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    text-align: center;
    /* align-items: center; */
    margin: auto 150px;
}

/*============= image tambahan ============ */
/* .projects h1 {
    text-align: center;
    text-transform: capitalize;
} */

.project .kartu {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.project .kartu img {
    margin-top: -170px;
    height: 500px;
    width: 100%;
}

.overlay {
    background: rgba(0, 0, 0, 0);
    bottom: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    transition: .7s;
    top: 0;
    width: 0;
    z-index: 9999;
}

.overlay:target {
    background: rgba(0, 0, 0, 0.6);
    height: auto;
    left: 0;
    right: 0;
    width: auto;
}

.overlay img {
    height: 1000px;
    margin-top: -210px;
    margin-right: 0px;
}

.overlay:target img {
    animation: fadein 1s;
}


.overlay a:nth-child(1) {
    position: relative;
    /* position: absolute; */
    color: #ffffff;
    top: 570px;
    /* text-decoration: none; */
    /* left: 10px; */
    right: 320px;
    /* z-index: 9999; */
}


.overlay a:nth-child(2) {
    position: relative;
    /* position: absolute; */
    color: #ffffff;
    top: 570px;
    text-decoration: none;
    /* left: 10px; */
    left: 180px;
    /* z-index: 9999; */
}

.overlay a:hover {
    transition: 1s;
    color: #ddd;
}

@keyframes fadein {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.projects {
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    align-items: center;
    margin: auto 150px;
}

.projects .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 8px var(--color-blur);
    cursor: pointer;
    box-sizing: border-box;
    height: 277px;
    margin-top: 100px;
    padding: 35px 15px;
    transition: all .3s;
    width: 32%;
}

.projects .card:hover {
    box-shadow: 0px 10px 10px var(--color-blur);
}

.projects .card img {
    margin-top: -10px;
    height: 230px;
    width: 100%;
}

.text-card {
    margin-top: 60px;
    position: relative;
    text-transform: capitalize;
}

.text-card div:first-child {
    font-weight: 600;
}

.text-card div:nth-child(2) {
    color: #cfcfcf;
}

.text-card div:last-child {
    margin-top: 5px;
}

.text-card div:last-child a {
    color: var(--primary-color);
    text-decoration: none;
}

/* ================== why slahir =================== */
.slahir {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 150px;
}

.why-slahir h1 {
    padding-top: 50px;
    text-align: center;
    text-transform: capitalize;
}

.why-slahir .card {
    /* background: linear-gradient(to top, #F2F8FF, #E4EDF6); */
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 8px var(--color-blur);
    box-sizing: border-box;
    cursor: pointer;
    height: 500px;
    margin: 100px 25px 0px 0px;
    transition: all .3s;
    width: 100%;
}

.why-slahir .card:hover {
    box-shadow: -2px -2px 8px var(--color-blur);
}

.card img {
    margin-top: 70px;
    /* height: 200px; */
    width: 100%;
}

.card .title-slahir {
    font-size: 18px;
    font-weight: 600;
    margin-top: 50px;
    text-transform: capitalize;
    text-align: center;
}

.card .text-slahir {
    padding: 20px;
    margin-top: 10px;
    line-height: 2;
    text-align: center;
}


/* ===================== built custom ================== */

.built-custom {
    display: flex;
    justify-content: space-around;
    margin: 100px 150px;
}

.built-custom img {
    height: 250px;
}

.built-custom h2 {
    text-transform: capitalize;
}

.built-custom div:nth-last-child(2) {
    color: #cfcfcf;
}


/* ======================== footer ====================== */
footer {
    /* background-color: var(--alt-color); */
    height: 400px;
}

#foot {
    display: flex;
    justify-content: space-between;
    margin: auto 150px;
    text-transform: capitalize;
}

.tentang,
.developer,
.bantuan,
.com-prof {
    line-height: 2;
    margin-top: 50px;
}

footer ul {
    font-size: 14px;

}

.com-prof span:nth-child(1) {
    color: var(--primary-color);
}

.com-prof div {
    font-size: 14px;
}

.com-prof .bx-phone {
    color: var(--primary-color);
}

footer ul {
    margin-top: 10px;
}

footer ul li {
    list-style-type: none;
}


footer a {
    color: var(--secondary-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--primary-color);
}


/* =========================== bottom footer ===================== */
.bottom-footer {
    background-color: var(--alt-color);
    padding: 20px;
    margin-top: 160px;
    /* width: 100%; */
}

.bottom-foot {
    display: flex;
    justify-content: space-between;
    margin: auto 150px;
}

.copyright {
    font-size: 12px;
}

.copyright span {
    color: #ff0000;
}

.social a {
    margin: 0px 10px;
    text-align: justify;
    transition: all .5s;
}

.social a:nth-child(1) {
    color: #ff0000;
}

/* ====================== back to top ======================== */
.back-to-top {
    background-color: var(--color-blur);
    box-sizing: border-box;
    border-radius: 5px;
    bottom: 65px;
    display: block;
    height: 35px;
    padding: 7px 10px;
    position: fixed;
    right: 150px;
    transition: all .3s;
    width: 35px;
}

.back-to-top a {
    color: var(--primary-color);
}


/* ============================= blog slahir tech ======================== */
.blog-container {
    /* background-color: #0a76f1; */
    height: 1500px;
    margin: auto 150px;
    padding-top: 50px;
}

.blog-container p {
    color: var(--primary-color);
    /* margin-top: 100px; */
    margin-bottom: 0;
}

.blog-grid {
    display: flex;
    justify-content: space-between;
}

.pagination {
    visibility: hidden;
}

.blog-container span {
    color: var(--secondary-color);
}

.blog-projects {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 380px 380px;
    column-gap: 20px;
}

.blog-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 8px var(--color-blur);
    box-sizing: border-box;
    height: 400px;
    margin-top: 30px;
    /* padding: 35px 15px; */
    transition: all .3s;
    width: 100%;
}

.blog-card:hover {
    box-shadow: 0px 10px 10px var(--color-blur);
}

.blog-card img {
    cursor: pointer;
    width: 100%;
    height: 70%;
}

.blog-card-line {
    visibility: visible;
    height: 400px;
    border: 1px solid var(--alt-color);
    box-sizing: border-box;
    margin-top: 30px;
    padding: 10px;
    text-transform: capitalize;
    width: 245px;
}

.blog-iklan {
    visibility: hidden;
}


/* 
.blog-input {
    text-transform: capitalize;
} */

.blog-input input {
    text-transform: capitalize;
    border-radius: 5px;
    border-style: solid;
    height: 40px;
    width: 675px;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.blog-input button {
    text-transform: capitalize;
    border-radius: 5px;
    border-style: solid;
    width: 100px;
    height: 40px;
    cursor: pointer;
    /* margin-left: 0; */
} 

.text-card-blog {
    padding: 20px;
    /* margin-top: 10px; */
    /* margin-bottom: 100px; */
    /* position: relative; */
    /* text-transform: capitalize; */
}

.text-card-blog div:nth-child(1) {
    font-weight: 600;
}

.text-card-blog a {
    /* cursor: poiter; */
    text-decoration: none;
}

.text-card-blog span {
    /* font-size: 12px; */
    color: #1A1A1A;
    font-weight: 200;
}

.text-card-blog .category {
    font-weight: 600;
    margin-left: 120px;
    margin-top: 10px;
    font-size: 12px;
}

.text-card-blog .user {
    color: var(--primary-color);
    /* cursor: pointer; */
}


/* ============================= about us ======================== */
.about {
    text-align: justify;
    margin: auto 180px;
}

.about h2 {
    /* margin: 100px 30px; */
    padding: 100px 0px 30px 0px;
    text-align: center;
    text-transform: capitalize;
}

.about-us {
    margin: 100px 0px;
    padding: 20px;
    background-color: var(--alt-color);
}


.erwin {
   margin: auto 180px;
   display: flex; 
   justify-content: space-between;
   align-items: center;
}

.image {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    /* clip-path: circle(); */
    filter: grayscale(1);
    border-radius: 100%;
    height: 300px;
    width: 300px;
    transition: all .3s;
    cursor: pointer;
}

.image:hover {
    filter: grayscale(0);
}

.social-icon {
    position: relative;
    margin: 0px 0px 0px 60px;
    height: 30px;
}

.social-icon a {
    margin-left: 20px;
}

.about-simar {
    margin: 100px 0px;
    padding: 40px;
}

.simar {
    margin: auto 180px;
    display: flex;
    flex-direction: row-reverse; 
    justify-content: space-between;
    align-items: center;
 }

 .text-about h3 {
     text-transform: capitalize;
 }

 .text-about p {
     color: #cfcfcf;
     text-transform: capitalize;
     margin-bottom: 10px;
 }

 .contact {
     text-align: center;
     margin-bottom: 100px;
 }

 .contact a {
     text-decoration: none;
     color: var(--secondary-color);
     padding: 10px;
 }

 .contact p {
     margin-bottom: 50px;
 }

 .subscribe {
     background: linear-gradient(314.65deg, #854dfd -0.61%, #4da8fd 100%);
     border-radius: 10px;
     height: 70px;
     margin: 30px auto;
     padding: 20px;
     width: 330px;
 }

 .subscribe p {
     color: #fff;
     margin-bottom: 10px;
 }

 .subscribe input {
     border: none;
     border-radius: 10px;
     box-shadow: 2px 0px 10px rgba(0,0,0,.3);
     padding: 10px;
 }

 .subscribe button {
     background: linear-gradient(314.65deg, #854dfd -0.61%, #4da8fd 100%);
     border: none;
     border-radius: 10px;
     box-shadow: 2px 0px 10px rgba(0,0,0,.3);
     color: var(--alt-color);
     cursor: pointer;
     padding: 10px;
     /* text-decoration: none; */
     text-transform: uppercase;
 }

 .subscribe button:hover {
    background: linear-gradient(314.65deg, #854dfd -0.61%, #6fb1f0 100%);
 }


/* ===================== responsive 800px ======================= */

@media only screen and (max-width: 800px ) {
    header nav {
        margin: auto 80px;
    }


    header nav span:nth-child(2) {
        display: block;
        color: var(--primary-color);
        font-size: 25px;
    }

    header nav span:nth-child(2):hover {
        color: #0a76f1;
        cursor: pointer;
    }

    header nav ul {
        /* flex-direction: column; */
        border-radius: 50px 0px 0px 0px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background-color: var(--alt-color);
        width: 0;
        height: 100vh;
        right: 0;
        top: 0;
        position: fixed;
        transition: all .3s;
        z-index: 2;
    }

    header nav ul li {
        padding-top: 30px;
    }

    header nav ul li span {
        display: block;
    }

    

    .bx-x {
        font-size: 24px;
        color: var(--secondary-color);
        cursor: pointer;
    }
    
    /* ===== content ===== */
    .content {
        display: flex;
        padding-top: 30px;
        margin: auto 80px;
    }

    .content1 h1 {
        font-size: 1.5em;
    }
    
    .content1 p {
        font-size: 14px;
    }

    .content1 {
        width: 60%;
    }

    .content2 {
        width: 100%;
    }

    
    .content2 p {
        width: 100%;
        position: absolute;
        bottom: 5px;
        right: 10px;
    }



    /* .content2 img:nth-child(1) {
        display: none;
    }

    .content2 img:nth-child(2) {
        text-align: center;
        display: block;
        height: 250px;
        width: 300px;
    } */

    .content2 p {
        margin-left: 20px;
        line-height: 2;
        position: relative;
        font-size: 14px;
    }


    .button .whatsapp {
        font-size: 16px;
        width: 150px;
    }
    
    .button .telegram {
        font-size: 16px;
        width: 150px;
    }

    .our-services h1 {
        margin-top: -200px;
    }

    .services {
        height: 300px;
        margin: auto 80px;
    }

    .services div {
        font-size: 14px;
        font-weight: 600;
        box-sizing: none;
        height: 60px;
        padding: 17px 10px;
        width: 200px;
    }

    .back-to-top {
        right: 80px;
    }
    
    /* ============================== our projects ====================== */
    #our-projects h1 {
        padding-bottom: 150px;
    }

    .project {
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        text-align: center;
        /* align-items: center; */
        margin: auto 80px;
    }
    
    /*============= image tambahan ============ */
    /* .projects h1 {
        text-align: center;
        text-transform: capitalize;
    } */
    
    .project .kartu {
        display: grid;
    }
    
    .project .kartu img {
        margin-top: -290px;
        height: 800px;
        width: 100%;
    }
    
    .overlay img {
        height: 700px;
        margin-top: -80px;
    }
    
    .overlay:target img {
        animation: fadein 1s;
    }
    
    
    .overlay a:nth-child(1) {
        color: #ffffff;
        top: 490px;
        right: 190px;
    }
    
    
    .overlay a:nth-child(2) {
        color: #ffffff;
        top: 490px;
        text-decoration: none;
        left: 90px;
    }

    .projects {
        margin: auto 80px;
    }

    .projects .card {
        height: 200px;
    }

    .projects .card img {
        margin-bottom: 5px;
        height: 140px;
    }

    /* .text-card {
        margin-top: 60px;
        position: relative;
        text-transform: capitalize;
    }

    .text-card div:first-child {
        font-weight: 600;
    }

    .text-card div:nth-child(2) {
        color: #cfcfcf;
    }

    .text-card div:last-child {
        margin-top: 5px;
    }

    .text-card div:last-child a {
        color: var(--primary-color);
        text-decoration: none;
    } */


/* ============================= blog slahir tech ======================== */
.blog-container {
    /* background-color: #0a76f1; */
    /* height: 1000px; */
    margin: auto 80px;
}

/* .blog-grid {
    display: flex;
    justify-content: space-between;
} */

/* .blog-container span {
    color: var(--secondary-color);
} */

.blog-projects {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 610px;
    /* column-gap: 7px; */
}

.blog-projects-visible {
    /* overflow: clip; */
    visibility: hidden;
    margin-top: -800px;
}

.pagination {
    visibility: visible;
    display: flex;
    justify-content: space-between;
}

.pagination div {
    color: var(--secondary-color);
    text-transform: capitalize;
    background-color: var(--color-blur);
    border-radius: 5px;
    height: 40px;
    padding: 8px 20px;
    margin-top: -90px;
    /* width: 50px; */
    box-sizing: border-box;
}

.pagination a {
    text-decoration: none;
}


/* .blog-card-line {
    visibility: hidden;
    height: 400px;
    border: 1px solid var(--alt-color);
    box-sizing: border-box;
    margin-top: 30px;
    padding: 10px;
    text-transform: capitalize;
    width: 245px;
} */

.blog-iklan {
    visibility: visible;
    display: flex;
    justify-content: space-between;
}   

.blog-iklan-visible {
    height: 400px;
    border: 1px solid var(--alt-color);
    box-sizing: border-box;
    padding: 10px;
    text-transform: capitalize;
    width: 300px;
}

.card-line-visible {
    visibility: hidden;
}


.blog-input input {
    text-transform: capitalize;
    border-radius: 5px;
    border-style: solid;
    height: 40px;
    width: 500px;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.blog-input button {
    text-transform: capitalize;
    border-radius: 5px;
    border-style: solid;
    width: 100px;
    height: 40px;
    cursor: pointer;
    /* margin-left: 0; */
} 

.text-card-blog {
    padding: 20px;
    /* margin-top: 10px; */
    /* margin-bottom: 100px; */
    /* position: relative; */
    /* text-transform: capitalize; */
}

.text-card-blog div:nth-child(1) {
    font-weight: 600;
}

.text-card-blog a {
    /* cursor: poiter; */
    text-decoration: none;
}

.text-card-blog span {
    /* font-size: 12px; */
    color: #1A1A1A;
    font-weight: 200;
}

.text-card-blog .category {
    font-weight: 600;
    margin-left: 120px;
    margin-top: 10px;
    font-size: 12px;
}

.text-card-blog .user {
    color: var(--primary-color);
    /* cursor: pointer; */
}



    /* ================== why slahir =================== */


    .slahir {
        flex-direction: column;
        margin: auto 80px;
    }

    .why-slahir h1 
    {
        margin-top: 1400px;
    }

    .why-slahir .card {
        margin: 100px 0px 0px 0px;
    }

    /* ===================== built custom ================== */

    .built-custom {
        flex-direction: column;
    }

    .built-custom img {
        margin-bottom: 40px;
        height: 250px;
        width: 100%;
    }

    .built-custom h2 {
        text-transform: capitalize;
    }

    .built-custom div:nth-last-child(2) {
        color: #cfcfcf;
    }

    /* ======================== footer ====================== */
    footer {
        /* background-color: var(--alt-color); */
        height: 400px;
        margin-top: 100px;
    }

    #foot {
        display: grid;
        grid-template-columns: auto auto;
        margin: auto 80px;
        text-transform: capitalize;
    }

    /* =========================== bottom footer ===================== */

    .bottom-foot {
        display: flex;
        justify-content: space-between;
        margin: auto 80px;
    }

    /* ============================= about us ======================== */
    .about {
        text-align: justify;
        margin: auto 80px;
    }

    .about h2 {
        /* margin: 100px 30px; */
        padding: 100px 0px 30px 0px;
        text-align: center;
        text-transform: capitalize;
    }

    .about-us {
        margin: 100px 0px;
        padding: 20px;
        background-color: var(--alt-color);
    }


    .erwin {
    margin: auto 80px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    }

    .image {
        margin-right: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        /* clip-path: circle(); */
        border-radius: 100%;
        height: 250px;
        width: 250px;
    }

    .social-icon {
        position: relative;
        margin: 0px 0px 0px 60px;
        height: 30px;
    }

    .social-icon a {
        margin-left: 20px;
    }

    .about-simar {
        margin: 100px 0px;
        padding: 40px;
    }

    .simar {
        margin: auto 80px;
        display: flex;
        flex-direction: row-reverse; 
        justify-content: space-between;
        align-items: center;
    }


    .contact {
        margin: 0px 40px 100px 40px;
        text-align: center;
    }

    .contact-social a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    .contact p {
        margin-bottom: 50px;
    }

    .contact-social {
        display: grid;
        grid-template-columns: auto;
    }

}

/* ===================== responsive 500px ======================= */

@media only screen and (max-width: 500px ) {
    header nav {
        margin: auto 40px;
    }

    header nav span:nth-child(1) a {
        font-size: 16px;
    }

    header nav span:nth-child(2) {
        display: block;
        font-size: 25px;
    }

    header nav span:nth-child(2):hover {
        color: var(--primary-color);
        cursor: pointer;
    }

    .dropdown-content {
        min-width: 100px;
      }

    /* header nav ul {
        display: none;
    } */

    /* ===== content ===== */
    .content {
        flex-direction: column;
        padding-top: 30px;
        margin: auto 40px;
    }

    .content1 h1 {
        font-size: 1.5em;
    }
    
    .content1 p {
        font-size: 14px;
    }

    .content1 {
        width: 100%;
    }

    .content2 {
        width: 100%;
    }

    
    .content2 p {
        width: 100%;
        position: absolute;
        bottom: 5px;
        right: 10px;
    }



    /* .content2 img:nth-child(1) {
        display: none;
    }

    .content2 img:nth-child(2) {
        text-align: center;
        display: block;
        height: 250px;
        width: 300px;
    } */

    .content2 p {
        margin-left: 20px;
        line-height: 2;
        position: relative;
        font-size: 14px;
    }


    .button .whatsapp {
        font-size: 16px;
        width: 120px;
    }
    
    .button .telegram {
        font-size: 16px;
        width: 120px;
    }

    /* ================== services =========== */

    .our-services h1 {
        margin-top: 100px;
        font-size: 1.5em;
    }

    .services {
        height: 300px;
        margin: auto 40px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .services div {
        margin-left: 0px;
        font-size: 14px;
        font-weight: 600;
        box-sizing: none;
        height: 60px;
        padding: 15px 10px;
        width: 120px;
    }

    
    /* ============================== our projects ====================== */
    #our-projects h1 {
        padding-top: 30px;
        margin-bottom: -70px;
        font-size: 1.5em;
    }

    .project {
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        text-align: center;
        /* align-items: center; */
        margin: auto 40px;
    }
    
    /*============= image tambahan ============ */
    /* .projects h1 {
        text-align: center;
        text-transform: capitalize;
    } */
    
    .project .kartu {
        display: grid;
    }
    
    .project .kartu img {
        margin: -70px -30px;
        height: 400px;
        width: 400px;
    }

    .overlay img {
        height: 420px;
        margin-top: 50px;
    }
    
    .overlay:target img {
        animation: fadein 1s;
    }
    
    
    .overlay a:nth-child(1) {
        color: #ffffff;
        top: 400px;
        right: 70px;
    }
    
    
    .overlay a:nth-child(2) {
        color: #ffffff;
        top: 400px;
        left: 16px;
    }


    .projects {
        flex-direction: column;
        margin: auto 40px;
    }

    .projects .card {
        margin-top: 80px;
        height: 200px;
        width: 100%;
    }

    .projects .card img {
        margin-bottom: 5px;
        height: 140px;
    }

    .text-card {
        margin-top: 35px;
    }

    /* ============================= blog slahir tech ======================== */
    .blog-container {
        /* background-color: #0a76f1; */
        /* height: 1000px; */
        margin: auto 40px;
    }

    /* .blog-grid {
        display: flex;
        justify-content: space-between;
    } */

    /* .blog-container span {
        color: var(--secondary-color);
    } */

    .blog-projects {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 350px;
        /* column-gap: 7px; */
    }

    .blog-projects-visible {
        /* overflow: clip; */
        visibility: hidden;
        margin-top: -800px;
    }

    .pagination {
        visibility: visible;
        display: flex;
        justify-content: space-between;
    }

    .pagination div {
        padding: 8px 15px;
        margin-top: -80px;
    }

    .pagination a {
        text-decoration: none;
    }

    .blog-iklan {
        visibility: visible;
        display: flex;
        flex-direction: column;
    }   

    .blog-iklan-visible {
        height: 400px;
        border: 1px solid var(--alt-color);
        box-sizing: border-box;
        padding: 10px;
        text-transform: capitalize;
        width: 350px;
        margin-bottom: 10px;
    }

    .card-line-visible {
        visibility: hidden;
    }


    .blog-input input {
        width: 260px;
    }

    .blog-input button {
        width: 80px;
    } 

    .text-card-blog {
        padding: 20px;
    }

    .text-card-blog div:nth-child(1) {
        font-weight: 600;
    }

    .text-card-blog a {
        /* cursor: poiter; */
        text-decoration: none;
    }

    .text-card-blog span {
        /* font-size: 12px; */
        color: #1A1A1A;
        font-weight: 200;
    }

    .text-card-blog .category {
        font-weight: 600;
        margin-left: 110px;
        margin-top: 10px;
        font-size: 12px;
    }

    .text-card-blog .user {
        color: var(--primary-color);
        /* cursor: pointer; */
    }

   /* ================== why slahir =================== */
    .slahir {
        margin: auto 40px;
    }

    .why-slahir h1 {
        margin-top: 550px;
        font-size: 1.5em;
    }


    /* ===================== built custom ================== */

    .built-custom {
        display: flex;
        justify-content: space-around;
        margin: 100px 40px;
    }

    .built-custom img {
        height: 250px;
    }

    .built-custom h2 {
        font-size: 1.3em;
        text-transform: capitalize;
    }

    .built-custom div:nth-last-child(2) {
        color: #cfcfcf;
    }

    /* ===================== built custom ================== */

    .built-custom {
        flex-direction: column;
    }

    .built-custom img {
        margin-bottom: 40px;
        height: 250px;
        width: 100%;
    }

    .built-custom h2 {
        text-transform: capitalize;
    }

    .built-custom div:nth-last-child(2) {
        color: #cfcfcf;
    }

    /* ======================== footer ====================== */
    footer {
        /* background-color: var(--alt-color); */
        margin-top: 400px;
        height: 400px;
    }

    #foot {
        display: grid;
        grid-template-columns: auto auto;
        margin: auto 40px;
        text-transform: capitalize;
    }

    /* =========================== bottom footer ===================== */

    .bottom-foot {
        margin: auto 10px;
    }

    .back-to-top {
        right: 40px;
        z-index: 999;
    }

     /* =========================== bottom footer ===================== */

     .bottom-foot {
        display: flex;
        justify-content: space-between;
        margin: auto 80px;
    }

    /* ============================= about us ======================== */
    .about {
        text-align: justify;
        margin: auto 40px;
    }

    .about h2 {
        /* margin: 100px 30px; */
        padding: 70px 0px 30px 0px;
        text-align: center;
        text-transform: capitalize;
    }

    .about-us {
        margin: 100px 0px;
        padding: 20px;
        background-color: var(--alt-color);
    }


    .erwin {
    margin: auto 40px;
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    }

    .image {
        /* margin-right: 40px; */
        margin-bottom: 20px;
        margin-left: 30px;
        /* clip-path: circle(); */
        border-radius: 100%;
    }

    .social-icon {
        margin: 0px 0px 0px 60px;
        height: 30px;
    }

    .social-icon a {
        margin-left: 20px;
    }

    .text-about {
        margin-top: 50px;
    }

    .about-simar {
        margin: 100px 0px;
        padding: 40px;
    }

    .simar {
        margin: auto 30px;
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        align-items: center;
    }


    .contact {
        margin: 0px 40px 100px 40px;
        text-align: center;
    }

    .contact-social a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    .contact p {
        margin-bottom: 50px;
    }

    .contact-social {
        display: grid;
        grid-template-columns: auto;
    }

}


/* ===========================  responsive 378px ========================*/
@media only screen and (max-width: 378px) {
    header nav {
        margin: auto 30px;
    }

    header nav span:nth-child(1) a {
        font-size: 14px;
    }

    header nav span:nth-child(2) {
        font-size: 20px;
    }

    /* ===== content ===== */
    .content {
        flex-direction: column;
        padding-top: 30px;
        margin: auto 30px;
    }

    .content1 h1 {
        font-size: 1.5em;
    }
    
    .content1 p {
        font-size: 14px;
    }

    .content1 {
        width: 100%;
    }

    .content2 {
        width: 100%;
    }

    
    .content2 p {
        width: 90%;
        position: absolute;
        bottom: -100px;
        right: 10px;
    }

    /* ================== services =========== */

    .our-services h1 {
        margin-top: 100px;
        font-size: 1.5em;
    }

    .services {
        height: 300px;
        margin: auto 80px;
        display: grid;
        grid-template-columns: auto;
    }

    .services div {
        /* margin-left: 10px; */
        margin: 0px 0px 15px 0px;
        font-size: 14px;
        font-weight: 600;
        box-sizing: none;
        height: 60px;
        padding: 15px 10px;
        width: 200px;
    }


    /* ============================== our projects ====================== */
    #our-projects h1 {
        padding-top: 150px;
        margin-bottom: -75px;
        font-size: 1.5em;
    }

    /* .projects {
        flex-direction: column;
        margin: auto 30px;
    } */

    .project {
        /* display: flex;
        flex-direction: column;
        justify-content: space-between; */
        text-align: center;
        /* align-items: center; */
        margin: auto 80px;
    }
    
    /*============= image tambahan ============ */
    /* .projects h1 {
        text-align: center;
        text-transform: capitalize;
    } */
    
    .project .kartu {
        display: grid;
    }
    
    .project .kartu img {
        margin: -60px -70px;
        height: 350px;
        width: 350px;
    }
    
    .overlay img {
        height: 380px;
        margin-top: 70px;
        margin-right: 200px;
    }
    
    
    .overlay a:nth-child(1) {
        top: 400px;
        right: 60px;
    }
    
    
    .overlay a:nth-child(2) {
        color: #ffffff;
        top: 400px;
        left: 20px;
    }

    .projects .card {
        margin-top: 70px;
    }

    /* ============================= blog slahir tech ======================== */
    .blog-container {
        /* background-color: #0a76f1; */
        /* height: 1000px; */
        margin: auto 40px;
    }

    /* .blog-grid {
        display: flex;
        justify-content: space-between;
    } */

    /* .blog-container span {
        color: var(--secondary-color);
    } */

    .blog-projects {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 300px;
        /* column-gap: 7px; */
    }

    .blog-projects-visible {
        /* overflow: clip; */
        visibility: hidden;
        margin-top: -800px;
    }

    .pagination {
        visibility: visible;
        display: flex;
        justify-content: space-between;
    }

    .pagination div {
        padding: 8px 12px;
        margin-top: -80px;
    }

    .pagination a {
        text-decoration: none;
    }

    .blog-iklan {
        visibility: visible;
        display: flex;
        flex-direction: column;
    }   

    .blog-iklan-visible {
        height: 400px;
        border: 1px solid var(--alt-color);
        box-sizing: border-box;
        padding: 10px;
        text-transform: capitalize;
        width: 300px;
        margin-bottom: 10px;
    }

    .card-line-visible {
        visibility: hidden;
    }


    .blog-input input {
        width: 230px;
    }

    .blog-input button {
        width: 60px;
    } 

    .text-card-blog {
        padding: 20px;
    }

    .text-card-blog div:nth-child(1) {
        font-weight: 600;
    }

    .text-card-blog a {
        /* cursor: poiter; */
        text-decoration: none;
    }

    .text-card-blog span {
        /* font-size: 12px; */
        color: #1A1A1A;
        font-weight: 200;
    }

    .text-card-blog .category {
        font-weight: 600;
        margin-left: 70px;
        margin-top: 10px;
        font-size: 11px;
    }

    .text-card-blog .user {
        color: var(--primary-color);
        /* cursor: pointer; */
    }


    /* ================== why slahir =================== */
    .slahir {
        margin: auto 30px;
    }

    .why-slahir h1 {
        padding-top: 30px;
        font-size: 1.3em;
    }

     /* ===================== built custom ================== */

     .built-custom {
        margin: 100px 30px;
    }



    /* ======================== footer ====================== */
    footer {
        /* background-color: var(--alt-color); */
        height: 400px;
    }

    #foot {
        display: grid;
        grid-template-columns: auto;
        margin: auto 30px;
        text-transform: capitalize;
    }

    /* =========================== bottom footer ===================== */

    .bottom-foot {
        margin: auto 10px;
    }


    .back-to-top {
        right: 30px;
    }

    /* ============================= about us ======================== */
    .about {
        text-align: justify;
        margin: auto 30px;
    }

    .about h2 {
        /* margin: 100px 30px; */
        padding: 60px 0px 30px 0px;
        text-align: center;
        text-transform: capitalize;
    }

    .erwin {
    margin: auto 30px;
    }

    .simar {
        margin: auto 20px;
    }

    .subscribe {
        background: linear-gradient(314.65deg, #854dfd -0.61%, #4da8fd 100%);
        border-radius: 10px;
        margin: 20px 30px 0px;
        width: 270px;
    }
   
    .subscribe p {
        color: #fff;
        margin-bottom: 10px;
    }
   
    .subscribe input {
        width: 150px;
    }

}







