
/** ADD YOUR AWESOME CODES HERE **/

.img-fluid
{
    height: 300px;
    width: 500px;
}

.waktu {
    display: inline-block;
    width: 50px;
    height: 50px;
    /* padding: 5px; */
    /* background: rgba(241, 78, 149, 0.8);
    background-color: ; */
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    animation: pulse 1s ease infinite;
    color: #dd545b;
    font-size: 15px;
    text-align: center;
    /* margin-bottom: 20px; */
  }
  
  .waktu span {
    font-size: 10px;
    display: block;
    margin-top: -10px;
    text-align: center;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 600px) {
      .waktu {
          /* padding-bottom: 10px;
          padding-left: 10px; */
          text-align: center;
      }
  }